:root{
    /* --textFamily: 'Pixelify Sans'; */
    --textColorWhite: #E0D3C6;
    --textShadow: 2px 2px 5px #5F4A43;
    --backgroundImage: url("../images/fondo.png");
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}
/*index.html*/
.bodyBg{
    font-family: sans-serif;
    background-image: var(--backgroundImage);
    background-size: cover;
}
.centrado{
    text-align: center;
    color: var(--textColorWhite);
    text-shadow: var(--textShadow);
}
h1{
    font-size: 50px;
    color: var(--textColorWhite);
    text-shadow: #5F4A43;
}
.ol{
    list-style-type: none;
}
.li_a{
    text-decoration: none;
    /* color: var(--textColor); */
    color: violet;
}
.bordeBajo{
    color: var(--textColorWhite);
    border-bottom: 1px solid var(--textColorWhite);
}
.divStats{
    width: 1387px;
    height: 691px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #1A1A1A;

    /* Centrado horizontal */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    /* Centrado vertical */
    display: flex;
    padding: 10%;
    position: relative;
}
/* .modal-dialog {
    max-width: 100%;
    max-height: 100%;
} */
.btn-close{
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    filter: var(--bs-btn-close-white-filter);
    margin: -20px;
}
.modal-content{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
.btn{
    font-size: 37px;
    color: var(--textColorWhite);
    text-shadow: var(--textShadow);
}
.divContenedor{
    margin-left: 4px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 207px;
}
/* .modal-dialog-scrollable{
    overflow-y: auto;
} */
.textbg{
    margin: 2%;
    font-size: 37px;
    border-radius: 5px;
    background: #766a6a;
    color: var(--textColorWhite);
}
/*containerJuegos.html*/
body{
    font-family: sans-serif;
}
h2{
    font-size: 50px;
    color: var(--textColorWhite);
}
p{
    font-size: 37px;
    color: var(--textColorWhite);
}
.carousel-indicators .active{
    background-color: var(--textColorWhite);
    opacity: 100%;
    width: 10px;
    height: 10px;
}
.carousel-indicators li{
    opacity: 25%;
    border: none;
    background-color: var(--textColorWhite);
    margin: 0px;
}

/*No se*/
.espacio{
    width: 12px;
    height: 12px;
}

/* carrouselJuegos */

.carousel-inner {
    height: 100vh;
}

.carousel {
    overflow: hidden;
  }

  /* Estilo para cada elemento del carrusel */
  .carousel-item {
    height: 100vh; /* Establece la altura al 100% de la altura de la ventana */
  }

  /* Estilo para las imágenes dentro de los elementos del carrusel */
  .carousel-item img {
    object-fit: cover; /* Hace que la imagen cubra completamente el contenedor manteniendo su relación de aspecto */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-height: 100vh; /* Establece la altura máxima de la imagen a la altura de la ventana */
    margin: auto; /* Centra la imagen verticalmente */
    display: block; /* Elimina espacio adicional debajo de la imagen */
  }