body {
    font-family: var(--textFamily);
}

/* Estilo para las banderas */
.banderas {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1000; /* Ajusta este valor según sea necesario para asegurarte de que estén por encima de otros elementos */
}


/* Estilo para cada bandera individual */
.banderas img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    margin-right: 5px; /* Espacio entre las banderas */
    cursor: pointer; /* Cambia el cursor al pasar sobre las banderas */
}

:root{
    --textFamily: 'Belleza', sans-serif;
    --textColorWhite: #E0D3C6;
    --textShadow: 2px 2px 5px #5F4A43;
    --backgroundImage: url("../images/fondo.webp");
    --backgroundBlur: blur(0px);
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}
/*index.html*/
/* .bodyBg{
    font-family: var(--textFamily);
    background-image: var(--backgroundImage);
    background-size: cover;
} */
.bodyBg {
    font-family: var(--textFamily);
}

.bodyBg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--backgroundImage);
    background-size: cover;
    filter: blur(2px); /* Ajusta el valor según el nivel de desenfoque deseado */
    z-index: -1;
}
/* .void{
    padding-top: 180px;
} */
.centrado{
    text-align: center;
    color: var(--textColorWhite);
    text-shadow: var(--textShadow);
}
#titulo{
    font-size: 96px;
    color: var(--textColorWhite);
    text-shadow: #5F4A43;
    font-family: var(--textFamily);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10%;
}
.ol{
    list-style-type: none;
    padding-top: 101px;
    margin-bottom: -5%;
}
.lily{
    /*Espaciado entre el texto y los rombos injertados*/
    margin-top: -45px;
}
.li_a{
    text-decoration: none;
    /* color: var(--textColor); */
    color: violet;
    font-family: var(--textFamily);
}
.separator{
    text-align: center;
    margin-left: 43%;
}
.line{
    width: 200px;
    height: 0px;
    border: 1px #E0D3C6 solid;
}
.bordeBajo{
    color: var(--textColorWhite);
    border-bottom: 1px solid var(--textColorWhite);
}
.divStats{
    width: 1387px;
    height: 691px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #1A1A1A;

    /* Centrado horizontal */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    /* Centrado vertical */
    display: flex;
    padding: 10%;
    position: relative;
}
/* .modal-dialog {
    max-width: 100%;
    max-height: 100%;
} */
.btn-close{
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    filter: var(--bs-btn-close-white-filter);
    margin: -22px;
}
.modal-content{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
.btn{
    font-size: 29px;
    color: var(--textColorWhite);
    text-shadow: var(--textShadow);
    font-family: var(--textFamily);
}
.divContenedor{
    margin-top: 4px;
    margin-left: 4px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 207px;
}
/* .modal-dialog-scrollable{
    overflow-y: auto;
} */
.textbg{
    margin: 2%;
    font-size: 37px;
    border-radius: 5px;
    background: #766a6a;
    color: var(--textColorWhite);
}
.imagenCambioIdioma {
    height: 70%;
}

.btn-secondary {
    display: flex;
    width: 70px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background: rgba(73, 63, 64, 0.62);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-secondary.show {
    background: rgba(73, 63, 64, 0.62);
}

.dropdown-menu.show {
    width: 155px;
    height: 162px;
    border-radius: 12px;
    border: none;
    background: rgba(73, 63, 64, 0.62);
    inset: 28px 0px auto auto;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
     
    margin-top: 20px !important; 
}

.dropdown-item {
    color: #E0D3C6;
    font-family: Belleza;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -5px;
}

.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.085);
    color: #E0D3C6;
    border-radius: 8px;
    cursor: pointer;
}

.lineaSeparadoraDropdown {
    margin-left: 15px;
    margin-top: -10px;
}
/*containerJuegos.html*/
body{
    font-family: sans-serif;
}
h2{
    font-size: 50px;
    color: var(--textColorWhite);
}
.txt{
    font-size: 29px;
    color: var(--textColorWhite);
    font-family: var(--textFamily);
    padding-bottom: 0px;
}
.carousel-indicators .active{
    background-color: var(--textColorWhite);
    opacity: 100%;
    width: 10px;
    height: 10px;
}
.carousel-indicators li{
    opacity: 25%;
    border: none;
    background-color: var(--textColorWhite);
    margin: 0px;
}

/*No se*/
.espacio{
    width: 12px;
    height: 12px;
}

/* carrouselJuegos */
.carouselBody {
    margin: 0;
    padding: 0;
}

.carouselContainer {
    position: relative;
}

.carousel {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.slide-1 {
    background-image: url("../images/barcelona.png");
}

.slide-2 {
    background-image: url("../images/brasil.png");
}

.slide-3 {
    background-image: url("../images/kenia.png");
}

.slide-4 {
    background-image: url("../images/india.png");
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hazClick {
    font-family: var(--textFamily);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 2%;
    clear: left;
    height: auto;
    z-index: 0;
}

.tituloCarousel {
    font-family: var(--textFamily);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-style: normal;
    line-height: normal;
    top: 50%;
}

.descripcion {
    font-family: var(--textFamily);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 2%;
    clear: left;
    height: auto;
    z-index: 0;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

.izquierda {
    left: 0;
}

.derecha {
    right: 0;
}

a {
    text-decoration: none;
}
