* {
    font-family: 'Belleza', sans-serif;
}

:root{
    /* --textFamily: 'Pixelify Sans'; */
    --textColorWhite: rgb(221, 208, 208);
    --backgroundImage: url("../Imagenes/fondo.png");
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}
/*index.html*/
.bodyBg{
    font-family: sans-serif;
    background-image: var(--backgroundImage);
    background-size: cover;
}
.centrado{
    text-align: center;
    color: var(--textColorWhite);
}
h1{
    color: var(--textColorWhite);
}
.ol{
    list-style-type: none;
}
.li_a{
    text-decoration: none;
    /* color: var(--textColor); */
    color: violet;
}
.bordeBajo{
    color: var(--textColorWhite);
    border-bottom: 1px solid var(--textColorWhite);
}
.divStats{
    width: 1387px;
    height: 691px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #1A1A1A;

    /* Centrado horizontal */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    /* Centrado vertical */
    display: flex;
    padding: 10%;
    position: relative;
}
/* .modal-dialog {
    max-width: 100%;
    max-height: 100%;
} */
.btn-close{
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    filter: var(--bs-btn-close-white-filter);
    margin: -20px;
}
.modal-content{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
.btn{
    font-size: 37px;
    color: var(--textColorWhite);
}
.divContenedor{
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 207px;
}
.textbg{
    margin: 2%;
    font-size: 37px;
    border-radius: 5px;
    background: #766a6a;
}
/*containerJuegos.html*/
body{
    font-family: sans-serif;
}
h2{
    font-size: 50px;
    color: var(--textColorWhite);
}
p{
    font-size: 37px;
    color: var(--textColorWhite);
}
.carousel-indicators .active{
    background-color: var(--textColorWhite);
    opacity: 100%;
    width: 10px;
    height: 10px;
}
.carousel-indicators li{
    opacity: 25%;
    border: none;
    background-color: var(--textColorWhite);
    margin: 0px;
}

/*No se*/
.espacio{
    width: 12px;
    height: 12px;
}

/* carrouselJuegos */
.carouselBody {
    margin: 0;
    padding: 0;
}

.carouselContainer {
    position: relative;
}

.carousel {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.slide-1 {
    background-image: url("../images/barcelona.png");
}

.slide-2 {
    background-image: url("../images/brasil.png");
}

.slide-3 {
    background-image: url("../images/kenia.png");
}

.slide-4 {
    background-image: url("../images/india.png");
}

.carousel-caption {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}

.carousel-caption h1 {
    text-align: center;
    font-size: 50px;
    padding: 18px;
}

.carousel-caption p {
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
    line-height: 1.5em;
}

.hazClick {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 100;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

.izquierda {
    left: 0;
}

.derecha {
    right: 0;
}

a {
    text-decoration: none;
}