*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 45vw;
}

#back {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid rgba(54, 185, 192, 0.5);
    background-color: rgba(54, 185, 192, 0.5);
    display: none;
    padding-inline: 30px;
    transition: 0.2s;
    margin-left: 20px;
    margin-top: 20px;
}

#back:hover {
    background-color: rgba(54, 185, 192, 0.9);
}

#start {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    border-radius: 10px;
    border: 3px solid rgba(54, 185, 192, 0.6);
    background-color: rgba(54, 185, 192, 0.6);
    padding-inline: 30px;
    margin-top: 100px;
    transition: 0.2s;
}

#start:hover {
    background-color: rgba(54, 185, 192, 0.9);
}

#title {
    font-size: 150px;
    font-family: 'Pixelify Sans', sans-serif;
}

#levelSelect {
    border: 3px solid rgba(54, 185, 192, 0.711);
    background-color: rgba(54, 185, 192, 0.711);
    font-family: 'Pixelify Sans', sans-serif;
    position: relative;
    display: flex;
    font-size: 60px;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    display: block;
}


#maze-container {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.row {
    display: flex;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(133, 132, 132);
    background-image: url(./img/cell.png);
}

.wall {
    background-image: url(./img/wall.png);
    border: 1px solid black;
}

.door {
    background-image: url(./img/door.png);
}

#warrior {
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: radial-gradient(circle at 20px 20px, blue 0%, red); */
    /* transition: 0.3s; */
}
/* #warrior:hover {
    background: var(--bg--color);
} */
/* #door{
    position: absolute;
    bottom: 0px;
    right: 0px;
} */

#lantern {
    position: absolute;
    width: 3000px;
    height: 3000px;
    background: radial-gradient(circle at 1500px 1500px, transparent 0%, black 90px);
    pointer-events: none;
    /* transition: 0.3s; */
}
/* #lanternDoor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom 25px right 25px, transparent 0%, black 30px);
    pointer-events: none;
} */
