body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./imagenes/fondoInstrucciones.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Pixelify Sans', sans-serif;
}

.quiz-container {
    
    border-radius: 20px;
    display: flex;
    width: 70%;
    max-width: 1600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px;
    
}

.question {
    width: 50%;
    padding: 20px;
    margin-top: 20px; /* Añade esta línea */
    border-radius: 10px; /* Añade esta línea */
    
}

.question img {
    width: 100%; /* Cambia este valor al tamaño que desees */
    height: auto; /* Esto mantendrá la relación de aspecto de la imagen */
    border-radius: 20px;
    background: none;
    margin: 0px;
}

.enunciado{
    font-size: 23px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7); /* Añade esta línea */
    word-wrap: nowrap;
    margin-right: 200px;
    margin: 40px 80px;

}

.options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option {
    font-size: 130%;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7); /* Añade esta línea */
}

.option:hover {
    background-color: #eee;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.bombillas img{
    max-width: 10%;
    margin-top: 45px;
    margin-left: 40px;
    

}

.colb{
    width: 50%;
}
.crono{
    color: #eee;
    text-align: center;
    
}
.feliz{
    text-align: center;
}

.instrucciones{
    font-size: 33px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./imagenes/BlackMarble_2016_01deg_gray\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
  
  
  }

  .textoInstrucciones{
    
    margin: 5%;
    text-align: center;
   
  }
  .botones-container {
    display: flex;
    justify-content: space-between;  /* Esto distribuirá los elementos a lo largo del contenedor */
    width: 760px;  /* Puedes ajustar el ancho según tus necesidades */
    margin: 0 auto;  /* Centrar el contenedor si es necesario */
}

  .back-btn{
    width: 300px;
height: 100px;
flex-shrink: 0;
    color: #eee;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: larger;
    border: 3px solid rgba(134, 127, 122, 0.56);
background: rgba(224, 211, 198, 0.08);
  }

 .botonEmpezar{
    width: 300px;
height: 100px;
flex-shrink: 0;
    color: #eee;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: larger;
    border: 3px solid rgba(134, 127, 122, 0.56);
background: rgba(224, 211, 198, 0.08);
 }

 /* Agrega estilos para la explicación */
.explicacion {
    font-size: 130%;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
}

.instrucciones2 {
    font-size: 33px;
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Corrige el centrado */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./imagenes/BlackMarble_2016_01deg_gray\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  .nextGameButton{ 
    width: 300px;
    height: 100px;
    flex-shrink: 0;
        color: #eee;
        font-family: 'Pixelify Sans', sans-serif;
        font-size: larger;
        border: 3px solid rgba(134, 127, 122, 0.56);
    background: rgba(224, 211, 198, 0.08);
  }
  .restartButton{
    width: 300px;
    height: 100px;
    flex-shrink: 0;
        color: #eee;
        font-family: 'Pixelify Sans', sans-serif;
        font-size: larger;
        border: 3px solid rgba(134, 127, 122, 0.56);
    background: rgba(224, 211, 198, 0.08);
  }

/* Estilos para la explicación correcta */
.correct-explanation {
    background-color: #4CAF50; /* Verde claro */
}

/* Estilos para la explicación incorrecta */
.incorrect-explanation {
    background-color: #f44336; /* Rojo claro */
}