body {
    font-family: 'Inter', sans-serif;
    background: url("/images/fondo.png");
    height: 100%;
}

.divIdentificacionUsuario {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    width: 377px;
    height: 66px;
    border-radius: 16px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    padding: 4px; /* En lugar de especificar cada lado individualmente */
}

#divIniciarSesionMinimizado,
#divRegistrarseMinimizado {
    width: 50%;
    height: 100%;
    border-radius: 16px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    box-shadow: none;
}

#divIniciarSesionMinimizado p,
#divRegistrarseMinimizado p {
    margin: 0;
    padding: 0;
    line-height: 66px;
}

#divRegistrarseMinimizado {
    background-color: #67A8D7;
    border-radius: 15px;
}

.registrarseTextoDivMinimizado,
.iniciarSesionTextoDivMinimizado {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

/* Formulario Iniciar Sesion */

.ventanaIniciarSesion {
    width: 830px;
    height: 442px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #1A1A1A;

    /* Centrado horizontal */
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Centrado vertical */
    display: flex;
    padding: 10%;
    position: relative;
}


.ventanaRegistrarse {
    width: 830px;
    height: 442px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #67A8D7;

    /* Centrado horizontal */
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Centrado vertical */
    display: flex;
    padding: 10%;
    position: relative;
}

.textoIniciaSesionVentanaIniciarSesion,
.textoNuevoUsuarioVentanaRegistrarse {
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    line-height: normal;
}

.divIniciaSesionVentanaIniciarSesion,
.divNuevoUsuarioVentanaRegistrarse {
    margin-top: 3%;
    width: 324px;
    padding: 0;
    flex-shrink: 0;
    vertical-align: top;
}

form {
    position: relative;
    margin-bottom: 20px; /* Ajusta el margen del formulario según tus necesidades */
    width: 392px;
}

#labelNombreUsuarioIniciarSesion,
#labelContrasenaIniciarSesion {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inputNombreUsuarioIniciarSesion,
#inputContrasenaIniciarSesion {
    width: 392px;
    height: 57px;
    margin-bottom: 7%;
    border-radius: 16px;
    background: #393939;
    border: none;
    outline: none; /* Para quitar el contorno predeterminado del enfoque */

    /* Establecer el estilo del borde cuando está enfocado */
    border: 2px solid transparent; /* Puedes ajustar el grosor del borde según tus preferencias */
    transition: border-color 1s ease;
    caret-color: white; /* Cambia el color del cursor */
    padding: 10px;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inputContrasenaIniciarSesion {
    margin-bottom: 15%;
}

#inputNombreUsuarioIniciarSesion:focus,
#inputContrasenaIniciarSesion:focus {
    border-color: #858585; /* Cambia "YourColor" al color que desees */
    border-width: 3px;
}

.contenedorBotones {
    display: flex;
}

.labelNoTienesCuenta {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botonRegistrarseNoTienesCuenta {
    width: 201px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10%;
    background: #858585;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
}

.textoRegistrarseNoTienesCuenta {
    color: #292929;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 66px;
}

.botonEntrar {
    width: 179px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10%;
    background: #67A8D7;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.textoEntrar {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 66px;
}

.modal-content {
    background: none;
    border: none;
}

/* Formulario Registarse */

#labelNombreUsuarioRegistrarse,
#labelContrasenaRegistrarse {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inputNombreUsuarioRegistrarse,
#inputContrasenaRegistrarse {
    width: 392px;
    height: 57px;
    margin-bottom: 7%;
    border-radius: 16px;
    background: #FFF;
    border: none;
    outline: none; /* Para quitar el contorno predeterminado del enfoque */

    /* Establecer el estilo del borde cuando está enfocado */
    border: 2px solid transparent; /* Puedes ajustar el grosor del borde según tus preferencias */
    transition: border-color 1s ease;
    caret-color: #292929; /* Cambia el color del cursor */
    padding: 10px;

    color: #292929;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inputContrasenaRegistrarse {
    margin-bottom: 15%;
}

#inputNombreUsuarioRegistrarse:focus,
#inputContrasenaRegistrarse:focus {
    border-color: #2174B0; /* Cambia "YourColor" al color que desees */
    border-width: 3px;
}

.contenedorBotones {
    display: flex;
}

.labelTienesCuenta {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botonEntrarTienesCuenta {
    width: 179px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10%;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
}

.textoEntrarTienesCuenta {
    color: #292929;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 66px;
}

.botonRegistrarse {
    width: 201px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10%;
    background: #2174B0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.textoRegistrarse {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 66px;
}





.tierra{
    margin-left: 50%;
}
.claro{
    background-image: url("claro.svg");
    background-size: 100%;
    width: 109px;
    height: 50.867px;
    margin-left: 17%;
}
.testo{
    color: #F7F8D5;
    text-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
mark{
    background-color: transparent;
    color: #09E8F6;
}
