
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tokens: #f3ea60;
    --backBtnShadow: #a69b00;
    --tokenShadow: #b96453;
    --tokenText: #000000;
    --text: #ffffff;
    --colorWhite: #E0D3C6;
    --background: #da7ff2;
    --btnBackground: #3edaf1;
    --btnShadow: #0885da;
    --btnText: #135fb5;
    --backgroundImgStart: url("./Imagenes/marmol-negro.png");
    --backgroundImg: url("./Imagenes/kenya.png");
    --token1Img: url("./Imagenes/Arriba-Izquierda.jpg");
    --token2Img: url("./Imagenes/Arriba-Centro.jpg");
    --token3Img: url("./Imagenes/Arriba-Derecha.jpg");
    --token4Img: url("./Imagenes/Centro-Izquierda.jpg");
    --token5Img: url("./Imagenes/Centro-Centro.jpg");
    --token6Img: url("./Imagenes/Centro-Derecha.jpg");
    --token7Img: url("./Imagenes/Abajo-Izquierda.jpg");
    --token8Img: url("./Imagenes/Abajo-Centro.jpg");
}

a{
    text-decoration: none;
    color: var(--colorWhite);
}

body{
    font-family: 'Pixelify Sans', sans-serif;
    /* background-color: var(--background); */
    background-image: var(--backgroundImgStart);
    background-size: cover;
    color: var(--colorWhite);
}
img{
    border-radius: 4px;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 310px;
    margin: 30px auto 30px;
}
.token{
    /* background-color: var(--tokens); */
    background: url("Imagenes/Lion Image.jpg") cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
}
.token1{
    /* background-color: var(--tokens); */
    background: var(--token1Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token2{
    /* background-color: var(--tokens); */
    background: var(--token2Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token3{
    /* background-color: var(--tokens); */
    background: var(--token3Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token4{
    /* background-color: var(--tokens); */
    background: var(--token4Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token5{
    /* background-color: var(--tokens); */
    background: var(--token5Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token6{
    /* background-color: var(--tokens); */
    background: var(--token6Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token7{
    /* background-color: var(--tokens); */
    background: var(--token7Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}
.token8{
    /* background-color: var(--tokens); */
    background: var(--token8Img);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px var(--tokenShadow);
    color: transparent;
}

/*PANTALLA INICIAL*/
.first-screen{
    text-align: center;
}

.first-screen p{
    font-weight: bold;
    font-size: 32px;
    /* margin: 30px 0px; */
    padding: 20px;
    color: /*rgb(106, 172, 7)*/ var(--colorWhite);
}

.first-screen img{
    width: 300px;
}
.textContainer{
    border: 4px solid var(--colorWhite);
    margin: 90px 450px 90px 450px;
}
.textoLoreKenya{
    padding: 10px;
    margin: 0px;
}

/*BOTONES*/
.startBtn-container{
    position: relative;
    width: 280px;
    margin: auto;
}
.play-btn{
    width: 280px;
    height: 80px;
    font-size: 24px;
    /* border-radius: 8px; */
    cursor: pointer;
    /* background-color: var(--btnBackground); */
    /* background: rgba(224, 211, 198, 0.08); */
    background-color: rgb(51, 45, 45);
    /* color: var(--btnText); */
    color: var(--colorWhite);
    border: 4px solid #E0D3C6;
    position: relative;
    top: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
.back-btn{
    width: 280px;
    height: 80px;
    font-size: 24px;
    /* border-radius: 8px; */
    cursor: pointer;
    /* background-color: var(--tokens); */
    background-color: rgb(51, 45, 45);
    /* color: var(--tokenShadow); */
    color: var(--colorWhite);
    border: 4px solid #E0D3C6;
    position: relative;
    top: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
.nextGameButton{
    display: none;
    width: 280px;
    height: 80px;
    font-size: 24px;
    /* border-radius: 8px; */
    cursor: pointer;
    background-color: var(--tokens);
    background-color: rgb(51, 45, 45);
    color: var(--tokenShadow);
    color: var(--colorWhite);
    border: 4px solid #E0D3C6;
    position: relative;
    top: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
/*Mirar como puedo ponerlos sin que uno se enchueque*/
/* .back-btn-shadow{
    width: 280px;
    height: 60px;
    background-color: var(--backBtnShadow);
    background-color: rgb(23, 20, 20);
    border-radius: 8px;
    position: relative;
    top: 4px;
    z-index: -1;
}
.btn-shadow{
    width: 280px;
    height: 60px;
    background-color: var(--btnShadow);
    background-color: rgb(23, 20, 20);
    border-radius: 8px;
    position: absolute;
    top: 4px;
    z-index: -1;
} */

.contenedorBotones{
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-direction: row;
    margin-left: 500px;
}

.counter-container{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.counter{
    display: none;
}
.pista{
    width: 50px;
    height: 50px;
    border: 4px solid var(--colorWhite);
    margin: 5px;
    display: none;
    border-radius: 4px;
    cursor: pointer;
}
.previsualizacion {
    display: none;
    position: absolute;
    border: 1px solid #000;
    background-color: var(--colorWhite);
    padding: 10px;
    z-index: 1;
    width: 400px;
    height: 400px;
    border-radius: 4px;
}

/*Game-Over Text*/
.game-over{
    font-size: 48px;
    width: 300px;
    text-align: center;
    margin: 60px 0px;
}